# {{ ansible_managed }}
apiVersion: kubeadm.k8s.io/v1beta3
caCertPath: /etc/kubernetes/pki/ca.crt
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ k8s_join_api_server_endpoint }}
    token: {{ k8s_join_token }}
    unsafeSkipCAVerification: true
    caCertHashes:
      - sha256:{{ k8s_join_ca_cert_hash }}
  timeout: 5m0s
  #tlsBootstrapToken: abcdef.0123456789abcdef
kind: JoinConfiguration
nodeRegistration:
  criSocket: {{ crio_sock }}
  imagePullPolicy: IfNotPresent
  name: {{ inventory_hostname }}
  taints: []
  kubeletExtraArgs:
    node-ip: {{ ansible_eth1.ipv4.address }}
